#raccoon { 
  width: 252px;
  height: 186px;
  cursor: pointer;
  position: absolute; 
  top: 0px; 
  left: 0px; 
  transition: all 200ms;
  user-select: none; 
  -webkit-user-select: none; 
  -webkit-touch-callout: none;

}

#speaker-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#speaker {
  width:50vw;
}
